/*styling for the logo image */
.img {
  width: 100%;
  height: 80px;
}

.logo .img {
  display: block;
  width: auto;
  max-height: 100%;
  z-index: 2;
  margin-left: 72%;
}
.logo-img {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

/*styling for the navbar */


a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
.header {
  position: fixed;
  top: 12%; left: 0; right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.header .navbar ul{
  list-style: none;
}
.header .navbar ul li {
  position: relative;
  float: left;
}
.header .navbar ul li a {
  font-size: 15px;
  padding: 17px;
  color: #333;
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header .navbar ul li a:hover {
  background: #01AEFD;
  color: #fff;
}
.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: #fff;
  display: none;
}
.header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.1);
}
.header .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}
.header .navbar ul li:focus-within > ul,
.header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}
.header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
  font-weight: bold;
}

@media(max-width: 768px) {
  .header{
      padding: 20px;
  }
  .header label {
      display: initial;
  }
  .header .navbar {
      position: absolute;
      top: 100%; left: 0; right: 0;
      background: #fff;
      border-top: 1px solid rgba(0,0,0,.1);
      display: none;
  }
  .header .navbar ul li {
      width: 100%;
  }
  .header .navbar ul li ul {
      position: relative;
      width: 100%;
  }
  .header .navbar ul li ul li {
      background: #eee;
  }
  .header .navbar ul li ul li ul {
      width: 100%;
      left: 0;
  }
  #menu-bar:checked ~ .navbar{
      display: initial;
  }
  .logo-img {
     width: 100%;

   }
  .logo .img {
    width: 100%;
  }
  .logo {
    justify-items: center;
  }
}